<form method="POST" action="/translation/add">
    <input type="text" name="language" placeholder="language"> <br>
    <textarea name="content" placeholder="treść"></textarea> <br>
    
    <button>Dodaj</button>
</form>