<form method="POST" action="/translation/update/{{_id}}">
    <input type="text" name="language" placeholder="Language" value="{{language}}"> <br>
    <textarea name="content" placeholder="Content">{{content}}</textarea> <br>
    <button>Update</button>
</form>